# X-Ray
! CAM-B3LYP cc-pvtz # Level of Theory
! TightSCF ZORA 

% maxcore 5000 # 5.0 GB Per Processor 8*5.0 GB >= 40GB required to run the calculations 

%pal
    nprocs {{ ntasks }} # or nprocs_world - total number of parallel processes
end

%tddft
        Tda true
        orbwin[0] = {{ orb }},{{ orb }},-1,-1 # Selecting the alpha set (orbwin[0]). Selecting donor orbital range : 1 to -1 to -1 (meaning all virtual orbitals)
        nroots 30 # Setting the number of roots (transitions) to be calculated.
        maxdim 10 # Setting the scaling of maximum dimension of the expansion space.
        DoDipoleLength true
        DoDipoleVelocity true
        DoHigherMoments true
        DecomposeFoscLength true
        DecomposeFoscVelocity true
        DoCD    true
        TPrint 1E-6
end


* xyzfile 0 1 {{ path_to_xyz_file }}